body {
    line-height: 1;
    background-color: #f5f5f5;
}
ol, ul {
    list-style: none;
}

header {
    text-align: center;
    font-size: 72px;
    background: #222;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100 !important;
    text-transform: capitalize;
    font-size: 32px;
    margin-bottom: 20px;
    margin-bottom: 20px;
    transition: all 500ms cubic-bezier(0.55, 0, 0.1, 1);
}
.navbar-default {
    background: #222;
    border: 0px;
}
.navbar-header {
    width: 100%;
    margin-bottom: 35px;
}
.navbar-brand {
    padding: 10px 0;
}
.navbar-brand>img {
    display: block;
    margin: 0 auto;
    float: left;
    transition: all 500ms cubic-bezier(0.55, 0, 0.1, 1);
}
.navbar-right {
    width: 100%;
    background: #00aced;
    margin-right: 0px;
}
.navbar-nav {
    float: left;
    font-size: 80%;
}
.navbar-default .navbar-nav>li {
    display: inline-block;
    text-align: center;
    float: none;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #0392CC;
}
.navbar-default .social {
    float: right;
    margin-top: 8px;
}
.navbar-default .social>li {
    display: inline-block;
    text-align: center;
    float: none;
    padding-left: 25px;
}
.navbar-default .social>li a {
    color: #fff;
}
.navbar-toggle {
    float: right;
    margin: 25px 0 -15px;
    transition: all 500ms cubic-bezier(0.55, 0, 0.1, 1);
}

header.sticky {
    position: fixed;
    font-size: 24px;
    line-height: 48px;
    height: 48px;
    width: 100%;
    background: #000000;
    text-align: left;
    padding-left: 20px;
}
header.sticky .container {
    width: inherit;
}
header.sticky .navbar-header {
    width: 20%;
    margin-bottom: 0px;
    float: left;
}
header.sticky .navbar-brand {
    height: auto;
    margin: 0;
    padding: 0;
}
header.sticky .navbar-brand img {
    padding-top: 11px;
    width: 130px;
    margin-right: 5px;
}
header.sticky .navbar-right {
    width: 80%;
    background: none;
}
header.sticky .navbar-nav {
    float: right;
}
header.sticky .social {
    display: none;
}
header.sticky .navbar-toggle {
    float: right;
    margin-top: 7px;
}

@media (max-width: 768px) {
    .navbar-nav{
        font-size: 14px;
    }
    header.sticky .navbar-header {
        width: 100%;
    }
    header.sticky .navbar-brand img {
        padding-top: 0px;
    }
    header.sticky .navbar-right {
        width: 100%;
        background: none;
        margin-top: 50px;
    }
    header.sticky .navbar-nav {
        float: left;
    }
    .navbar-default .social {
        font-size: 16px;
        margin-top: 20px;
    }
    .navbar-default .social > li {
        padding-left: 15px;
    }
}
@media (max-width: 480px) {
    .navbar-brand > img {
        margin: 10px auto 0;
        max-width: 200px;
    }
    .navbar-default .social {
        display: none;
    }
}